﻿<!DOCTYPE html>
<html lang="en">
<head>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-57635392-5');
  </script>
  <title>Tanuki.Todo ✍️</title>
  <meta name="viewport" content="height=device-height, initial-scale=1, user-scalable=no">
  <meta name="description" content="Gitlab demo todo page" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="/css/todo.css">
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
<footer>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
  <script  src="/js/todo.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
</footer>
</html>
